<header class="bg-slate-950 text-white shadow-md">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <h1 class="text-xl font-bold tracking-tight">Aura App</h1>
        <ul class="flex space-x-6 text-sm font-medium">
            <li class="hover:text-green-500" tran><a routerLink="">Início</a></li>
            <li class="hover:text-green-500"><a routerLink="">Farmador</a></li>
            <li class="hover:text-green-500"><a routerLink="">Mogador</a></li>
        </ul>
    </nav>
</header>
